<div class="login-wrap"
     style="background: url('../../assets/images/login-bg.jpg')  center center no-repeat; background-size: cover">
  <div class="container">
    <div class="row text-center mt-5">
      <div class="col">
        <h2 class="text-center login-title"> Test News Feed PWA App </h2>
      </div>

    </div>
    <div class="row justify-content-md-center" style="margin-top: 100px;">
      <div class="col-lg-5 col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="col text-center mt-5" style="color: #ffffff">
      &copy; LightPoint
    </div>
  </div>
</div>

