<mat-card style="padding: 20px 25px">
  <div class="row">
    <div class="col">
      <div>
        <p class="title text-center">Registration</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form [formGroup]="loginForm">
        <mat-form-field class="col">
          <input type="text" matInput placeholder="Login" [formControl]="loginForm.controls['login']">

          <mat-error *ngIf="loginForm.controls['login'].hasError('required')">
            Please enter a login
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col">
          <input type="text" matInput placeholder="First Name" [formControl]="loginForm.controls['firstName']">

          <mat-error *ngIf="loginForm.controls['firstName'].hasError('required')">
            Please enter a First Name
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col">
          <input type="text" matInput placeholder="Last Name" [formControl]="loginForm.controls['lastName']">

          <mat-error *ngIf="loginForm.controls['lastName'].hasError('required')">
            Please enter a Last Name
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col">
          <input type="password" matInput placeholder="Password" [formControl]="loginForm.controls['password']">
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            Please enter a password
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col">
          <input type="password" matInput placeholder="Confirm your password" [formControl]="loginForm.controls['passwordConfirm']">
          <mat-error *ngIf="loginForm.controls['passwordConfirm'].hasError('required')">
            Please enter a password again
          </mat-error>
        </mat-form-field>

      </form>
    </div>

  </div>


  <div class="row justify-content-between mt-4">
    <div class="col-4 align-self-center">
      <button mat-raised-button class="mr-2" routerLink="/auth/login">LogIn</button>
    </div>
    <div class="col-8 text-right">
      <button mat-raised-button color="warn" class="mr-2">Cancel</button>
      <button mat-raised-button color="primary" (click)="registerUser()">Create</button>
    </div>
  </div>

</mat-card>
