@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';

@include mat-core();
$primary: mat-palette($mat-light-blue, 600);
$accent: mat-palette($mat-green, 600, 100, 100);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

button:focus {outline:0;}
