<div >
  <app-header (onCreateArticle)="createArticle($event)" (onSubscribeUser)="subscribeUser($event)"></app-header>

  <div style="height: calc(100vh - 64px); padding-bottom: 20px; width: 100vw; position: fixed; overflow-y: auto; background-color: #E4EAEC; margin-bottom: 20px;" >
    <div class="container mt-4">

        <app-article *ngFor="let article of articles" [article]="article"></app-article>

    </div>

  </div>
</div>

