<div class="row justify-content-center mt-3">
  <div class="col-sm-12 col-lg-9 align-self-center">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{article.name}}</mat-card-title>
        <mat-card-subtitle>{{article.authorFirstName}} {{article.authorLastName}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <p>
          {{article.text}}
        </p>

        <mat-chip-list>
          <mat-chip *ngFor="let genre of article.genresId" color="accent" selected class="chip-custom">{{getGenreName(genre)}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </div>

</div>
