<h1 mat-dialog-title>Subscribe</h1>
<div mat-dialog-content>
  <form [formGroup]="subscribeForm" action="">
    <mat-form-field  class="form-field">
      <mat-select placeholder="Genres" [formControl]="subscribeForm.controls['genres']" multiple>
        <mat-option *ngFor="let genre of GENRES" [value]="genre.id">{{genre.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="subscribeForm.value" cdkFocusInitial>Subscribe</button>
</div>
