<h1 mat-dialog-title>Add Article</h1>
<div mat-dialog-content>
  <form [formGroup]="addArticleForm" action="">
    <mat-form-field class="form-field">
      <input matInput placeholder="Heading" [formControl]="addArticleForm.controls['name']">
    </mat-form-field>

    <mat-form-field  class="form-field">
      <mat-select placeholder="Genres" [formControl]="addArticleForm.controls['genresId']" multiple>
        <mat-option *ngFor="let genre of GENRES" [value]="genre.id">{{genre.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field  class="form-field">
      <textarea matInput placeholder="Article" [formControl]="addArticleForm.controls['text']"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="addArticleForm.value" [disabled]="addArticleForm.invalid" cdkFocusInitial>Create</button>
</div>
