<div>
  <mat-toolbar class="mat-elevation-z6"  style="background-color: #fff; ">
    <div class="container-fluid">
      <div class="row">
        <div class="col text-left">
          <button mat-raised-button color="accent" class="mr-2" (click)="openAddArticleDialog()">Add Article</button>
          <button mat-raised-button color="accent" (click)="openSubscribeDialog()">Subscribe</button>
        </div>
        <div class="col text-right">
          <p style="display: inline-block; font-size: 0.8em; margin-right: 15px; margin-bottom: 0;">{{user.firstName}} {{user.lastName}}</p>
          <button mat-mini-fab style="background-color: #fff; box-shadow: 0 0 0 #fff; border: 1px solid #d3e7f1;">
            <mat-icon [matMenuTriggerFor]="menu" style="color: #4e555b">person</mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logOut()">LogOut</button>
            </mat-menu>
          </button>
        </div>

      </div>

    </div>
  </mat-toolbar>
</div>
