<mat-card style="padding: 20px 25px">
  <div class="row">
    <div class="col">
      <div>
        <p class="title text-center">Log In</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form [formGroup]="loginForm">
        <mat-form-field class="col">
          <input type="text" matInput placeholder="Login" [formControl]="loginForm.controls['login']">

          <mat-error *ngIf="loginForm.controls['login'].hasError('required')">
            Please enter a login
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col">
          <input type="password" matInput placeholder="Password" [formControl]="loginForm.controls['password']">
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            Please enter a password
          </mat-error>
        </mat-form-field>

      </form>
    </div>

  </div>


  <div class="row justify-content-between mt-4">
    <div class="col-4 align-self-center">
      <button mat-raised-button color="accent" class="mr-2" routerLink="/auth/registration">Sign up</button>
    </div>
    <div class="col-8 text-right">
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </div>
  </div>

</mat-card>
